.img-banner {
    display: block;
    width: 250px;
}

.summary-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}
.summary-content img{
    width: fit-content !important;
    max-height: 400px !important;
}
